html, body {
  background: black;
  color: #a80020;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

body {
  font-weight: 400;
}

button {
  font-family: 'Press Start 2P', cursive;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  border: none;
  background: #a80020;
  background: #a80020;
  padding: 10px 20px;
  text-transform: uppercase;
}

button:disabled {
  cursor: not-allowed;
}

h1 {
  font-size: 20px;
  text-align: center;
}

textarea {
  font-family: 'Press Start 2P', cursive;
  border: 3px solid white;
  width: 85%;
  margin: 0 auto;
  outline: none;
  height: 200px;
  background: #a80020;
  padding: 10px;
}

textarea:disabled {
  background: gray;
}